<!doctype html>
<html>
    <head><title>Maven</title></head>
    <body>
        <h2>Javadocs</h2>
        <ul>
            {{#each state.publishedJavadocs}}
                <li><a href="javadoc/{{repository}}/{{tag}}">{{repository}} {{tag}}</a></li>
            {{/each}}
        </ul>
    </body>
</html>
